html{
    height: 100vh;
}
body{
    height: 100vh
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 80pt;
  padding: 15px; /* firefox bug fix */
  width: auto;
}
.pane{
    border-left: 2px solid black;
    height: calc(100vh - 131pt);
    overflow-y: scroll;
    overflow-x: hidden
}
.toolbar{
    font-size: 20pt
}
.bottom{
    position: absolute;
    bottom: 0;
}
.entry-container{
    padding-left: 18px;
}
.entry{

}
.entryBody{
    padding-left: 8px;
    padding-right: 8px;
    border-left: 5px solid #B8DBD4;
    display: none;

}
.entry p{
    cursor: pointer;
}
p.arrow{
    font-family: sans-serif
}
#doctor-message, .entryBody{
    width: 100%
}
#map {
        height: 400px;
        width: 100%;
       }
.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}
